.site-header {
    position: relative;
    padding: 24px 0;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 400px;

    //     background: mix(color(secondary, 1), color(additional, 2));
    //     background: linear-gradient(57deg, color(secondary, 1) 0%, color(additional, 2) 100%);
    //     transform-origin: 0;
    //     transform: skewY(-5deg);
    // }
}

.site-header-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: inline-flex;
    align-items: center;
   

    li {
        display: inline-flex;
    }

    a:not(.button) {
        text-decoration: none;
        @include font-size(9, mobile, true, true, true);
       
        @include font-weight(bold);
        // @include anchor-aspect(header);
        line-height: 16px;
        padding: 8px 24px;
    }
}

@include media( '>medium' ) {

    .site-header {

        &::before {
            height: 350px;
        }
    }
}

#logo{ display:flex;
flex-direction:column;}